@font-face {
    font-family: "HM Ampersand Light";
    src: url("/public/stylesheets/fonts/hmampersand-light-webfont.woff") format('woff');
}

@font-face {
    font-family: "HM Ampersand Regular";
    src: url("/public/stylesheets/fonts/hmampersand-regular-webfont.woff") format('woff');
    font-weight: regular;
}

@font-face {
    font-family: "HM Ampersand Bold";
    src: url("/public/stylesheets/fonts/hmampersand-bold-webfont.woff") format('woff');
    font-weight: bold;
}

@font-face {
    font-family: "HM Ampersand Condensed Bold";
    src: url("/public/stylesheets/fonts/hmampersand-condensedbold-webfont.woff") format('woff');
}


html{font-family:'HM Ampersand Regular', Arial, sans-serif;overflow-x:hidden;}
body {margin:0;padding:0;}
video, object {
  left:0;
  position:absolute;
  top:0;
}

#header{
left:50%;
margin-left:-460px;
top:0px;
width:920px;
position:fixed;
background-color:white;
border:1px solid #3a5823;
border-radius:0 0 15px 15px;
height:35px;
border-top:2px solid #3a5823;
z-index:1000;
border-bottom:5px solid #3a5823;	
}

#header img{
float:left;
margin:7px 20px 0 10px;
}

#topBlack{
height:100px;background:black;position:fixed;width:100%;top:0px;z-index:10;	
}

#bottomBlack{
height:100px;background:black;position:fixed;width:100%;bottom:0px;z-index:10;	
}

#bottomBlackBorder{width:920px;margin:0 auto;border-top:5px solid #383735;height:0px;position:relative;bottom:5px}

#page{
height:100%;background:white;border-top:5px solid #3a5823;border-left:5px solid #383735;border-right:5px solid #383735;margin-top:30px;
}

#pageContainer{
margin:0 auto;width:920px;height:100%;position:relative;overflow: hidden;padding: 0;z-index:10;		
}

#linksContainer{
float:right;	
}

#linksContainer > DIV {
float:left;
width:109px;
height:35px;
font-size:12px;
text-align:center;
cursor:pointer;
color:black;
border-left:1px solid #3a5823;
}

#linksContainer > DIV:first-child {
width:110px;
}

#linksContainer > DIV:last-child {
width:98px;
}

#linksContainer #rota {
width:82px;
}

#linksContainer #sosyalmedya {
width:133px;
}

#linksContainer > DIV:hover {
background:#3a5823;
color:white;
}

#linksContainer > DIV > span {
display:block;
padding-top:10px;
font-weight:bold;
}

/* Large screens ----------- */
@media (min-width: 1700px) and (max-width: 2200px) {
#header img {margin-right:0px;}
}