* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    color: #fff;
    background: #111;
    overflow: hidden;
    font-family:'HM Ampersand Regular', Arial, sans-serif;
}

p{
font-size:14px;	
}

.wrapper {
    position: absolute;
    width: 500%;
    height: 100%;
    z-index: 0;
}


/* Video Pages */

.screen {
    position: relative;
    height: 100%;
    width: 20%; /*  NOTE: numVideos/100%  */;
    float: left;
    overflow: hidden;
}

.big-image {
    min-width: 100%;
    min-height: 100%;
    height: auto;
    width: auto;
}

.video-title {
    position: absolute;
    top: 5%;
    left: 5%;
    opacity: .5;
    margin: 40px 0 0 0;
    padding: 0;
    line-height: .65;
    font-size: 4em;
    text-transform: uppercase;
}

/* Nav */

nav#prev-btn{
    position: absolute;
    left: 5%;
    top: 45%;
    padding: 20px;
    background: #000;
    border-radius: 40px;
    opacity: .4;
    cursor: pointer;
    z-index: 1000;	
}

nav#next-btn {
    position: absolute;
    right: 5%;
    top: 45%;
    padding: 20px;
    background: #000;
    border-radius: 40px;
    opacity: .4;
    cursor: pointer;
    z-index: 1000;
}

nav#next-btn:hover,nav#prev-btn:hover {
    opacity: .6;
}

.next-icon {
    display: block;
    border-top: solid 2px #fff;
    border-right: solid 2px #fff;
    width: 20px;
    height: 20px;
    position: relative;
    left: -5px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    color: #fff;
    text-decoration: none;
}

.prev-icon {
    display: block;
    border-top: solid 2px #fff;
    border-right: solid 2px #fff;
    width: 20px;
    height: 20px;
    position: relative;
    left: 5px;
    -webkit-transform: rotate(225deg);
    -moz-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    -o-transform: rotate(225deg);
    transform: rotate(225deg);
    color: #fff;
    text-decoration: none;
}




/* *************************************************************** */
/* VIDEO STUFF ENDS HERE */
@font-face {
    font-family: "HM Ampersand Light";
    src: url("/public/stylesheets/fonts/hmampersand-light-webfont.woff") format('woff');
}

@font-face {
    font-family: "HM Ampersand Regular";
    src: url("/public/stylesheets/fonts/hmampersand-regular-webfont.woff") format('woff');
    font-weight: regular;
}

@font-face {
    font-family: "HM Ampersand Bold";
    src: url("/public/stylesheets/fonts/hmampersand-bold-webfont.woff") format('woff');
    font-weight: bold;
}

@font-face {
    font-family: "HM Ampersand Condensed Bold";
    src: url("/public/stylesheets/fonts/hmampersand-condensedbold-webfont.woff") format('woff');
}

#header{
left:50%;
margin-left:-460px;
top:0px;
width:920px;
position:fixed;
background-color:white;
border:1px solid #49692F;
border-radius:0 0 15px 15px;
height:35px;
border-top:2px solid #49692F;
z-index:1000;
border-bottom:5px solid #49692F;
opacity:0;
}

#header img{
float:left;
margin:5px 20px 0 10px;
}

#topBlack{
height:100px;background:black;position:fixed;width:100%;top:0px;z-index:10;	
}

#bottomBlack{
height:100px;background:black;position:fixed;width:100%;bottom:0px;z-index:10;	
}

#bottomBlackBorder{opacity:0;width:920px;margin:0 auto;border-top:5px solid #383735;height:0px;position:relative;bottom:4px}

#page{
opacity:0;height:100%;width:100%;background:white;border-top:5px solid #49692F;border-left:5px solid #383735;border-right:5px solid #383735;margin-top:23px;    overflow-y: scroll;
}

#pageContainer{
margin:0 auto;width:920px;height:100%;position:relative;overflow: hidden;padding: 0;z-index:10;		
}

#linksContainer{
float:right;	
}

#linksContainer > DIV {
float:left;
width:105px;
height:30px;
font-size:12px;
text-align:center;
cursor:pointer;
color:black;
border-left:1px solid #49692F;
}

#linksContainer > DIV:first-child {
width:110px;
}

#linksContainer > DIV:last-child {
width:98px;
}


#linksContainer #iletisim:hover {
border-radius:0 0 10px;
}


#linksContainer #rota {
width:82px;
}

#linksContainer #sosyal {
width:133px;
}

#linksContainer > DIV:hover {
background:#49692F;
color:white;
}

#linksContainer > DIV > span {
display:block;
padding-top:6px;
font-weight:bold;
}

.activeHeaderLink{
background:#49692F;
color:white !important;	
}

#projeContainer{width:900px;margin:0 auto;}
#projectPageHeaderImage{background:url('/public/images/7.png') no-repeat center center;width:600px;height:110px;margin:0 auto}
.line{width:300px;height:0px;border:2px solid #49692F;margin:0 auto}
#projectText{padding-top:10px;color:black;text-align:center;font-size:13px;}
#projeCelebs{width:900px;margin:0 auto;padding-top:10px;margin-bottom:20px}
.celebImage{display:inline-block;float:left;margin-left:20px;text-align:center}
.celebImage img{width:200px}
.celebImage p{line-height:20px}
#iletisimPage{padding-top:0px}
#iletisimForm{border:1px solid  #a1b096;width:400px;margin-left:40px;margin-bottom:20px}
#iletisimContainerHeaderImage{background:url('/public/images/10.png') no-repeat center center;width:200px;height:110px;}
.formBox{border-bottom:1px solid  #a1b096;padding:5px}
.formBox span{padding: 8px 5px 5px 5px;display: block;float: left;}
.formBox input{height: 40px;width: 200px;float: right;}
#formBoxTextArea{height: 143px;width: 388px;float: right;border: none;}
#formBoxTextAreaContainer{padding:10px 0px 0px 10px}
#formBoxTextArea:focus { 
    outline: none !important;
    border-color: transparent;
    box-shadow: 0 0 0 0;
}

.formBox input:focus { 
    outline:  #a1b096; !important;
    border-color:  #a1b096;
    box-shadow: 0 0 0 0;
}

.formBox input{border:1px solid #a1b096}

.hide{
    display:none
}

.menuContent{
    color:black;
    padding-top:20px;
    padding-bottom:150px;
}

#projeNedir{
    cursor: pointer;
    background-color:#49692F;
    padding:5px 15px;
    color:white;
    font-size:14px;
    font-family: "HM Ampersand Light";
}

#rotaTablosu {
  width:600px;
  margin: 10px auto;
  line-height:0;
  border-spacing:0
}

#rotaTablosu th{
  background-color:#49692F;
  color:white;
  text-align:left;
  width:16.6%
}

#rotaTablosu p{
    font-size:10px
}

#rotaTablosu th.left{
  width:13%
}
#rotaTablosu th.time{
  width:16%
}
#rotaTablosu th.hour{
  width:15%
}
#rotaTablosu th.car{
  width:30%
}
#rotaTablosu th.place{
  width:13%
}


#rotaTablosu td{
  text-align:left;
}

.darkRow{
    background-color:#dbe1d5
}

.lightRow{
    background-color:#f2f2f2
}


#sendMessage{
	float:right;
    cursor: pointer;
    background-color:#49692F;
    padding:5px 10px 8px 15px;
    color:white;
    font-size:14px;
    font-family: "HM Ampersand Light";
    border:none;
    margin-top:10px;
    margin-right:-1px;
}

.alert-error{
border-radius: 0px;
font-size: 20px;
letter-spacing: 1px;
color: #FFF;
background-color: #EB5348;
border: 1px solid #EB5348;
padding: 15px 14px 15px 5px;
text-align: center;
}

.alert-success{
position:fixed;
border-radius: 0px;
font-size: 20px;
letter-spacing: 1px;
color:white;
width:100%;
background-color: #49692F;
border-bottom: 1px solid #49692F;
padding: 15px 14px 15px 5px;
text-align:center;
margin-top:100px;
}

/* Large screens ----------- */
@media (min-width: 1700px) and (max-width: 2200px) {
#header img {margin-right:0px;}
}
