<table id="galeriTablosu">
    <tr>
        <th class="thumb"><p>FOTOĞRAFLAR</p></th>
        <th class="thumb"></th>
        <th></th>
        <th class="thumb"><p>VİDEOLAR</p></th>
        <th class="thumb"></th>
    </tr>
    <tr>
        <td class="thumb"><a class="fancybox" rel="group" href="/public/images/f_1_b.jpg"><img src="public/images/f_1_s.jpg" alt="" /></a></td>
        <td class="thumb"><a class="fancybox" rel="group" href="/public/images/f_2_b.jpg"><img src="public/images/f_2_s.jpg" alt="" /></a></td>
        <td class="empty"></td>
        <td class="thumb"><a id="vimeo_1" href="javascript:;"><img src="/public/images/galeri_video_thumb.png"></a></td>
        <td class="thumb"><a id="vimeo_2" href="javascript:;"><img src="/public/images/galeri_video_thumb2.png"></a></td>        
    </tr>
    <tr>
        <td class="thumb"><a class="fancybox" rel="group" href="/public/images/f_3_b.jpg"><img src="public/images/f_3_s.jpg" alt="" /></a></td>
        <td class="thumb"><a class="fancybox" rel="group" href="/public/images/f_4_b.jpg"><img src="public/images/f_4_s.jpg" alt="" /></a></td>
        <td class="empty"></td>
        <td class="thumb"><a id="vimeo_3" href="https://vimeo.com/76154790"><img src="/public/images/galeri_video_thumb3.png"></a></td>
        <td class="thumb"><a id="vimeo_4" href="https://vimeo.com/76133821"><img src="/public/images/galeri_video_thumb3.png"></a></td>                
    </tr>
    <tr>
        <td class="thumb"><a class="fancybox" rel="group" href="/public/images/f_5_b.jpg"><img src="public/images/f_5_s.jpg" alt="" /></a></td>
        <td class="thumb"><a class="fancybox" rel="group" href="/public/images/f_6_b.jpg"><img src="public/images/f_6_s.jpg" alt="" /></a></td>
        <td class="empty"></td>                
        <td class="thumb"><a id="vimeo_5" href="https://vimeo.com/76158318"><img src="/public/images/galeri_video_thumb2.png"></a></td>        
    </tr>
    <tr>
        <td class="thumb"><a class="fancybox" rel="group" href="/public/images/f_7_b.jpg"><img src="public/images/f_7_s.jpg" alt="" /></a></td>
        <td class="thumb"><a class="fancybox" rel="group" href="/public/images/f_8_b.jpg"><img src="public/images/f_8_s.jpg" alt="" /></a></td>
        <td class="empty"></td>
    </tr>
    <tr>
        <td class="thumb"><a class="fancybox" rel="group" href="/public/images/f_9_b.jpg"><img src="public/images/f_9_s.jpg" alt="" /></a></td>
        <td class="thumb"><a class="fancybox" rel="group" href="/public/images/f_10_b.jpg"><img src="public/images/f_10_s.jpg" alt="" /></a></td>
        <td class="empty"></td>
    </tr>
    <tr>
        <td class="thumb"><a class="fancybox" rel="group" href="/public/images/f_11_b.jpg"><img src="public/images/f_11_s.jpg" alt="" /></a></td>
        <td class="thumb"><a class="fancybox" rel="group" href="/public/images/f_12_b.jpg"><img src="public/images/f_12_s.jpg" alt="" /></a></td>
        <td class="empty"></td>        
    </tr>
    <tr>
        <td class="thumb"><a class="fancybox" rel="group" href="/public/images/f_13_b.jpg"><img src="public/images/f_13_s.jpg" alt="" /></a></td>
        <td class="thumb"><a class="fancybox" rel="group" href="/public/images/f_14_b.jpg"><img src="public/images/f_14_s.png" alt="" /></a></td>
        <td class="empty"></td>
    </tr>
    <tr>
        <td class="thumb"><a class="fancybox" rel="group" href="/public/images/f_15_b.png"><img src="public/images/f_15_s.png" alt="" /></a></td>
        <td class="thumb"><a class="fancybox" rel="group" href="/public/images/f_16_b.jpg"><img src="public/images/f_16_s.png" alt="" /></a></td>        
        <td class="empty"></td>
    </tr>
    <tr>
        <td class="thumb"><a class="fancybox" rel="group" href="/public/images/f_17_b.png"><img src="public/images/f_17_s.png" alt="" /></a></td>
        <td class="thumb"><a class="fancybox" rel="group" href="/public/images/f_18_b.jpg"><img src="public/images/f_18_s.png" alt="" /></a></td>        
        <td class="empty"></td>
    </tr>
    <tr>
        <td class="thumb"><a class="fancybox" rel="group" href="/public/images/f_20_b.jpg"><img src="public/images/f_20_s.jpg" alt="" /></a></td>
        <td class="thumb"><a class="fancybox" rel="group" href="/public/images/f_21_b.jpg"><img src="public/images/f_21_s.jpg" alt="" /></a></td>        
        <td class="empty"></td>
    </tr>
     <tr>
        <td class="thumb"><a class="fancybox" rel="group" href="/public/images/f_22_b.jpg"><img src="public/images/f_22_s.jpg" alt="" /></a></td>
        <td class="thumb"><a class="fancybox" rel="group" href="/public/images/f_23_b.jpg"><img src="public/images/f_23_s.jpg" alt="" /></a></td>        
        <td class="empty"></td>
    </tr>
    <tr>
        <td class="thumb"><a class="fancybox" rel="group" href="/public/images/f_24_b.jpg"><img src="public/images/f_24_s.jpg" alt="" /></a></td>
        <td class="thumb"><a class="fancybox" rel="group" href="/public/images/f_25_b.jpg"><img src="public/images/f_25_s.jpg" alt="" /></a></td>        
        <td class="empty"></td>
    </tr>
    <tr>
        <td class="thumb"><a class="fancybox" rel="group" href="/public/images/f_26_b.jpg"><img src="public/images/f_26_s.jpg" alt="" /></a></td>
        <td class="thumb"><a class="fancybox" rel="group" href="/public/images/f_27_b.jpg"><img src="public/images/f_27_s.jpg" alt="" /></a></td>        
        <td class="empty"></td>
    </tr>
    <tr>
        <td class="thumb"><a class="fancybox" rel="group" href="/public/images/f_28_b.jpg"><img src="public/images/f_28_s.jpg" alt="" /></a></td>
        <td class="thumb"><a class="fancybox" rel="group" href="/public/images/f_29_b.jpg"><img src="public/images/f_29_s.jpg" alt="" /></a></td>
        <td class="empty"></td>
    </tr>
    <tr>
        <td class="thumb"><a class="fancybox" rel="group" href="/public/images/f_30_b.jpg"><img src="public/images/f_30_s.jpg" alt="" /></a></td>
        <td class="thumb"><a class="fancybox" rel="group" href="/public/images/f_31_b.jpg"><img src="public/images/f_31_s.jpg" alt="" /></a></td>
        <td class="empty"></td>
    </tr>
    <tr>
        <td class="thumb"><a class="fancybox" rel="group" href="/public/images/f_32_b.jpg"><img src="public/images/f_32_s.jpg" alt="" /></a></td>
        <td class="thumb"><a class="fancybox" rel="group" href="/public/images/f_33_b.jpg"><img src="public/images/f_33_s.jpg" alt="" /></a></td>
        <td class="empty"></td>        
    </tr>
    <tr>
        <td class="thumb"><a class="fancybox" rel="group" href="/public/images/f_34_b.jpg"><img src="public/images/f_34_s.jpg" alt="" /></a></td>
        <td class="thumb"><a class="fancybox" rel="group" href="/public/images/f_35_b.jpg"><img src="public/images/f_35_s.jpg" alt="" /></a></td>
        <td class="empty"></td>
    </tr>
    <tr>
        <td class="thumb"><a class="fancybox" rel="group" href="/public/images/f_36_b.jpg"><img src="public/images/f_36_s.jpg" alt="" /></a></td>
        <td class="thumb"><a class="fancybox" rel="group" href="/public/images/f_37_b.jpg"><img src="public/images/f_37_s.jpg" alt="" /></a></td>
        <td class="empty"></td>
    </tr>
</table>



<script>

	$("#vimeo_1").fancybox({
		'padding'		: 0,
		'autoScale'		: false,
		'transitionIn'	: 'none',
		'transitionOut'	: 'none',
		'width'			: 800,
		'height'		: 500,
		'href'			: 'http://vimeo.com/moogaloop.swf?clip_id=76133821',
		'type'			: 'swf'	
	});
	
	$("#vimeo_2").fancybox({
		'padding'		: 0,
		'autoScale'		: false,
		'transitionIn'	: 'none',
		'transitionOut'	: 'none',
		'width'			: 800,
		'height'		: 500,
		'href'			: 'http://vimeo.com/moogaloop.swf?clip_id=76146798',
		'type'			: 'swf'
	});
	
	$("#vimeo_3").fancybox({
		'padding'		: 0,
		'autoScale'		: false,
		'transitionIn'	: 'none',
		'transitionOut'	: 'none',
		'width'			: 800,
		'height'		: 500,
		'href'			: 'http://vimeo.com/moogaloop.swf?clip_id=76154790',
		'type'			: 'swf'
	});

	$("#vimeo_4").fancybox({
		'padding'		: 0,
		'autoScale'		: false,
		'transitionIn'	: 'none',
		'transitionOut'	: 'none',
		'width'			: 800,
		'height'		: 500,
		'href'			: 'http://vimeo.com/moogaloop.swf?clip_id=76151147',
		'type'			: 'swf'
	});

	$("#vimeo_5").fancybox({
		'padding'		: 0,
		'autoScale'		: false,
		'transitionIn'	: 'none',
		'transitionOut'	: 'none',
		'width'			: 800,
		'height'		: 500,
		'href'			: 'http://vimeo.com/moogaloop.swf?clip_id=76158318',
		'type'			: 'swf'
	});
</script>