<div id="header">
	<a style="border:0px" href="/"><img style="border:0px"src="/public/images/1.png" /></a>
	
	<div id="linksContainer">
		<div id="anasayfa" class="activeHeaderLink">
			<span>ANASAYFA</span>
		</div>
		<div class="nedirPage-header" id="nedir">		
			<span>NEDİR?</span>		
		</div>
		<div class="projePage-header" id="proje">
			<span>PROJE</span>
		</div>
		<div class="galeriPage-header" id="galeri">
			<span>GALERİ</span>
		</div>
		<div class="rotaPage-header" id="rota">
			<span>ROTA</span>
		</div>
		<div class="sosyalPage-header" id="sosyal">
			<span>SOSYAL MEDYA</span>	
		</div>
		<div class="iletisimPage-header" id="iletisim">
			<span>İLETİŞİM</span>
		</div>		
	</div>
	
</div>
