<div id="header">
	<a href="/"><img src="/public/images/1.png" /></a>
	
	<div id="linksContainer">
		<div id="anasayfa" class="activeHeaderLink">
			<span>ANASAYFA</span>
		</div>
		<div id="nedir">		
			<span>NEDİR?</span>		
		</div>
		<div id="proje">
			<span>PROJE</span>
		</div>
		<div id="galeri">
			<span>GALERİ</span>
		</div>
		<div id="rota">
			<span>ROTA</span>
		</div>
		<div id="sosyalmedya">
			<span>SOSYAL MEDYA</span>
		</div>
		<div id="iletisim">
			<span>İLETİŞİM</span>
		</div>		
	</div>
	
</div>
