<div id="iletisimContainer">
	#{if flash?.error}
    	<div class="alert-error">
            ${flash.error}
        </div>
    #{/if}
	<div id="iletisimContainerHeaderImage"></div>
	<div id="iletisimForm">
		<form action="@{Application.sendMessage}" id="sendMessageForm"  method="post">
			<div class="formBox">
				<span>Adınız:</span>
				<input type="text" name="firstname" />
				<div style="clear:both"></div>
			</div>
			<div class="formBox">
				<span>Soyadınız:</span>
				<input type="text" name="lastname"/>
				<div style="clear:both"></div>
			</div>
			<div class="formBox">
				<span>E-posta adresiniz:</span>
				<input type="text" name="email"/>
				<div style="clear:both"></div>
			</div>
			<div class="formBox">
				<span>Telefon numaranız:</span>
				<input type="text" name="phone"/>
				<div style="clear:both"></div>
			</div>
			<div id="formBoxTextAreaContainer">
				<span>Mesajınız:</span>
				<textarea id="formBoxTextArea" name="message"></textarea>
				<div style="clear:both"></div>
			</div>
			<input id="sendMessage" type="submit" value="Gönder" />
		</form>
	</div>
</div>