<div style="text-align:center">
    <img src="/public/images/4.png">
    <p>Her yıl tonlarca tekstil ürünü geri dönüşüme uğramadan atılıyor. Oysa bu eski kıyafet ve <br> kumaşların neredeyse <span style="color:#49692F;font-family:HM Ampersand Bold">%95'i</span> yeniden kullanılabilir.</p>
    <img src="/public/images/5.png">
    <p>H&M'de sürdürülebilir moda felsefemizi yeni bir projeyle destekliyoruz. <br> Eskimiş, yıpranmış veya giyilemeyecek durumda olan giysilerinizi topluyor ve <br> geri dönüşüme kazandırıyoruz!</p>
    <img src="/public/images/6.png">
    <p>Günün birinde çöpe atmak için gardırobunuzun bir köşesinde biriktirdiğiniz bu giysilerinizi, <br>
    projeye katılan H&M mağazalarına getirin. Hem modayı yaşatın hem de <br>
    teslim ettiğiniz her giysi torbası için bir sonraki alışverişinizde kullanılmak üzere 5 TL <br>
    değerinde bir alışveriş çeki kazanın! Her gün 2 poşet bırakabilirsiniz. <br>
    </p>
    <a id="projeNedir">Projeyle ilgili tüm bilgiler burada</a>

</div>