<div id="projeContainer">
	<div id="projectPageHeaderImage"></div>
	<div class="line"></div>
	<div id="projectText">
	<br>
	H&M'in sürdürülebilirlik adına uzun yıllardır yürüttüğü H&M Conscious çalışmalarına<br>
	bir yenisini ekleyereki "Modayı Yaşat" projesini hayata geçirdik.<br>
	<br>
	Projede, dört ünlü moda severin tasarlayarak kişiselleştirdiği H&M geri dönüşüm arabaları<br>
	sahnede olacak. Arabalar, İstanbul'un farklı yerlerine dağılacak ve<br>
	geri dönüşüme gönderilmek üzere sizlerden tekstil ürünleri toplayacak.<br>
	<br>
	Modayı Yaşat projemize destek olan<br>
	Ayşe Kucuroğlu, Buse Terim, Didem Soydan & Umut Eker ve Melis Alphan'ın sadece<br>
	çevre dostu malzemelerle tasarladığı H&M geri dönüşüm arabalarının hikayesini bu sayfalardan izleyebilirsiniz.<br>
	<br> 		
	</div>
	<div id="projeCelebs">
		<div class="celebImage">
			<img src="/public/images/celeb01.png" />
			<p>Ayşe Kucuroğlu</p>
		</div>
		<div class="celebImage">
			<img src="/public/images/celeb04.png" />
			<p>Buse Terim</p>
		</div>
		<div class="celebImage">
			<img src="/public/images/celeb03.png" />
			<p>Didem Soydan & Umut Eker</p>
		</div>
		<div class="celebImage">
			<img src="/public/images/celeb02.png" />
			<p>Melis Alphan</p>
		</div>
		<div style="clear:both"></div>
	</div>
</div>