<div id="projeContainer">
	<div id="projeSummary">
		<div id="projectPageHeaderImage"></div>
		<div class="line"></div>
		<div id="projectText">
		<br>
		H&M'in sürdürülebilirlik adına uzun yıllardır yürüttüğü H&M Conscious çalışmalarına<br>
		bir yenisini ekleyereki "Modayı Yaşat" projesini hayata geçirdik.<br>
		<br>
		Projede, dört ünlü moda severin tasarlayarak kişiselleştirdiği H&M geri dönüşüm arabaları<br>
		sahnede olacak. Arabalar, İstanbul'un farklı yerlerine dağılacak ve<br>
		geri dönüşüme gönderilmek üzere sizlerden tekstil ürünleri toplayacak.<br>
		<br>
		Modayı Yaşat projemize destek olan<br>
		Ayşe Kucuroğlu, Buse Terim, Didem Soydan & Umut Eker ve Melis Alphan'ın sadece<br>
		çevre dostu malzemelerle tasarladığı H&M geri dönüşüm arabalarının hikayesini bu sayfalardan izleyebilirsiniz.<br>
		<br> 		
		</div>
		<div id="projeCelebs">
			<div class="celebImage" data-id="ayse">
				<img src="/public/images/celeb01.png" />
				<p>Ayşe Kucuroğlu</p>
			</div>
			<div class="celebImage" data-id="buse">
				<img src="/public/images/celeb04.png" />
				<p>Buse Terim</p>
			</div>
			<div class="celebImage" data-id="didem">
				<img src="/public/images/celeb03.png" />
				<p>Didem Soydan & Umut Eker</p>
			</div>
			<div class="celebImage" data-id="melis">
				<img src="/public/images/celeb02.png" />
				<p>Melis Alphan</p>
			</div>
			<div style="clear:both"></div>
		</div>
	</div>
	
	<div class="celebInfo" id="ayse">
		<div class="celebImage" id="ayse">
			<img src="/public/images/celeb01.png" />			
		</div>
		<div style="float:left">
			<p style="font-size:15px;color:#49692F;margin-left:20px;float:left;margin-top:-2px;font-family:HM Ampersand Bold">Ayşe Kucuroğlu</p>
			<p style="clear:both;margin-left:20px">
			Yine harika bir iş birliği! Hayat adına, <br>
			paylaşmak adına, daha uzun yaşamak adına! <br>
			Modayı sürdürebilmek adına, hepimiz koyulduk çalışmaya.<br>
			<br>
			Benim el arabam bol kumaşlı olsun istedim.<br>
			Sık giydiği bir elbise gibi, rengârenk olsun dedim.<br> 
			Konumuz zaten modayı geri dönüştürmek değil mi?<br>
			Kim bilir, belki tam da bu tonlarda giymeyi unuttuğunuz<br> 
			eski elbiseniz gelir aklınıza da, atarsınız arabama!<br>
			<br>
			</p>
			<div style="clear:both;float:left;margin-left:20px">
				<div style="background:#2698d9;width:520px;height:50px;z-index:12">
						<div style="width: 500px;margin: 0 auto;padding-top: 15px;color: #FFF;">
						<img src="http://grfx.cstv.com/graphics/twitter-bird-dark-bgs.png" style="width:40px;float:left;margin-top:-11px">
						<span style="float:left">Tweets</span>
						<span style="float:right">#modayiyasat</span>
					</div>
				</div>
				<a data-chrome="noheader" class="twitter-timeline" href="https://twitter.com/search?q=%40aysekucuroglu+%23modayiyasat+OR+%23moday%C4%B1yasat" data-widget-id="385728397814407169">"@aysekucuroglu #modayiyasat OR #modayıyasat" hakkında Tweetler</a>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
			</div>												
		</div>
	</div>
	
	<div style="clear:both"></div>
	<div class="celebInfo" id="melis">
		<div class="celebImage" id="melis">
			<img src="/public/images/celeb02.png" />			
		</div>
		<div style="float:left">
			<p style="font-size:15px;color:#49692F;margin-left:20px;float:left;margin-top:-2px;font-family:HM Ampersand Bold">Melis Alphan</p>
			<div style="clear:both;float:left;margin-left:20px">
				<div style="background:#2698d9;width:520px;height:50px;z-index:12">
						<div style="width: 500px;margin: 0 auto;padding-top: 15px;color: #FFF;">
						<img src="http://grfx.cstv.com/graphics/twitter-bird-dark-bgs.png" style="width:40px;float:left;margin-top:-11px">
						<span style="float:left">Tweets</span>
						<span style="float:right">#modayiyasat</span>
					</div>
				</div>				  
				<a data-chrome="noheader" class="twitter-timeline" href="https://twitter.com/search?q=%40melisalphan+%23modayiyasat+OR+%23moday%C4%B1yasat+" data-widget-id="385700677906747393">"@melisalphan #modayiyasat OR #modayıyasat" hakkında Tweetler</a>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>								
			</div>		
		</div>
	</div>
	
	<div style="clear:both"></div>
	<div class="celebInfo" id="buse">
		<div class="celebImage" id="buse">
			<img src="/public/images/celeb04.png" />			
		</div>	
		<div style="float:left;width:655px">
			<p style="font-size:15px;color:#49692F;margin-left:20px;float:left;margin-top:-2px;font-family:HM Ampersand Bold">Buse Terim</p>
			<p style="clear:both;margin-left:20px">
			Tüketim çağının baş döndürücü hızı içinde, kimi zaman 
			kendimizi kaybediyoruz. Hele ki modayı yakından takip eden, 
			gelecek sezonun tüm trendlerini şimdiden özümseyen bizler için 
			alışverişin cazibesine kapılmak, hep daha fazlasını istemek kaçınılmaz. Oysa büyük resme baktığımızda görüyoruz ki dünyamızda 
			doğal kaynaklar hızla tükeniyor, endüstriyel ve evsel kaynaklı atıkların bilinçsiz şekilde doğaya atılması çevre kirliliğine sebep oluyor.
			<br><br>
			Geleceğe yaşanabilir bir dünya bırakmak hepimizin sorumluluğu ve 
			bunun için bireysel ölçekte de yapabileceklerimiz var. H&M’in 
			ürün toplama girişimi, ilk günden itibaren takdir ettiğim ve can-ı gönülden desteklediğim bir proje. Uluslararası alanda gücü tartışılmaz bir 
			moda markasının bu tarz bir projeye hayat vermesi, toplumsal duyarlılığın artırılması adına oldukça önemli ve bu projenin bir parçası olarak 
			Türkiye’deki bilinirliğine katkıda bulunma şansına sahip olduğum için çok mutluyum.
			<br><br>
			Projemi “kendinle yüzleşme” teması üzerine kurguladım. 
			Çıkış noktam, aynaya her baktığımızda geleceğimiz için, dünyamız için elimizi taşın altına koyma cesaretini gösterdiğimiz için kendimizle 
			gurur duyabilmemizdi. Aynadan bize yansıyan görüntü, kendimiz değil dünyanın başka bir köşesinde açlığın, yoksulluğun pençesinde 
			var olma mücadelesi veren bir çocuk da olabilirdi. Nerede, hangi koşullarda doğduğumuzu biz seçemiyoruz ancak başkalarını da düşünmek, daha iyi bir 
			dünyanın hayalini kurmak ve bu hayale bir adım olsun yaklaşabilmek için eyleme geçmek bizim elimizde.
			<br><br>
			Benim arabam, herkesi kendiyle yüzleşmeye ve aynadaki aksine 
			içten bir biçimde gülümsemeye davet ediyor. Dünya değişebilir ve 
			bu değişim tek bir eski kıyafetin geri dönüştürülmesiyle bile sağlanabilir. Yeter ki küçük adımların bir araya geldiğinde ne kadar büyük bir etki yaratabileceğine inanalım!
			<br>
			</p>				
				<div style="clear:both;float:left;margin-left:20px">
						<div style="background:#2698d9;width:520px;height:50px;z-index:12">
						<div style="width: 500px;margin: 0 auto;padding-top: 15px;color: #FFF;">
						<img src="http://grfx.cstv.com/graphics/twitter-bird-dark-bgs.png" style="width:40px;float:left;margin-top:-11px">
						<span style="float:left">Tweets</span>
						<span style="float:right">#modayiyasat</span>
					</div>
				</div>				
				<a data-chrome="noheader" class="twitter-timeline" href="https://twitter.com/search?q=%40BuseTerim+%23modayiyasat+OR+%23moday%C4%B1yasat" data-widget-id="385690590228144128">"@BuseTerim #modayiyasat OR #modayıyasat" hakkında Tweetler</a>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>				
			</div>
		</div>
	</div>
	
	<div style="clear:both"></div>
	<div class="celebInfo" id="didem">
		<div class="celebImage" id="didem">
			<img src="/public/images/celeb03.png" />			
		</div>	
		<div style="float:left">
			<p style="font-size:15px;color:#49692F;margin-left:20px;float:left;margin-top:-2px;font-family:HM Ampersand Bold">Didem Soydan & Umut Eker</p>
				<div style="clear:both;float:left;margin-left:20px">
						<div style="background:#2698d9;width:520px;height:50px;z-index:12">
						<div style="width: 500px;margin: 0 auto;padding-top: 15px;color: #FFF;">
						<img src="http://grfx.cstv.com/graphics/twitter-bird-dark-bgs.png" style="width:40px;float:left;margin-top:-11px">
						<span style="float:left">Tweets</span>
						<span style="float:right">#modayiyasat</span>
					</div>
				</div>								 
				<a data-chrome="noheader" class="twitter-timeline" href="https://twitter.com/search?q=%40didem_soydan+OR+%40umuteker+%23modayiyasat+OR+%23moday%C4%B1yasat" data-widget-id="385713572308742144">"@didem_soydan OR @umuteker #modayiyasat OR #modayıyasat" hakkında Tweetler</a>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>								
			</div>
		</div>
	</div>
</div>