<div style="text-align:center">
    <img src="/public/images/8.png">
    <div style="height:3px;width:250px;background-color:#49692F;margin:0 auto"></div>
    <p>Ayşe Kucuroğlu, Buse Terim, Didem Soydan & Umut Eker ve
        <br> Melis Alphan'ın <span style="color:#49692F">"Modayı Yaşat"</span> projesi için tasarladığı H&M <span style="color:#49692F">geri dönüşüm</span> arabaları,
        <br>sizin de karşınıza çıkabilir! Rotayı takip edin, bu güzel karşılaşmayı raslantıya bırakmayın.</p>

    <p>
        Eski, giyilemeyecek tekstil ürünlerinizi geri dönüşüm arabalarımızdan birine <br>
        getirdiğinizde hediye çekinizi almayı unutmayın. Hem bir sonraki alışverişinizde indirim kazanın, <br>
        hem de geri dönüşüme yardımcı olun! Bu fırsatı ayağınıza kadar getiriyoruz.
    </p>

    <table id="rotaTablosu">
        <tr class="darkRow">
            <th class="left"></th>
            <th class="time"><p>NE ZAMAN?</p></th>
            <th class="hour"></th>
            <th class="car"><p>HANGİ ARABA?</p></th>
            <th class="place"><p>NEREDE?</p></th>
            <th class="right"></th>
        </tr>
        <tr class="darkRow">
            <td class="left"></td>
            <td class="time"><p>5 Ekim Cumartesi</p></td>
            <td class="hour"><p>12.00 - 18.00</p></td>
            <td class="car"><p>Ayşe'nin arabası</p></td>
            <td class="place"><p>Bağdat Caddesi</p></td>
            <td class="right"></td>
        </tr>
        <tr class="darkRow">
            <td class="left"></td>
            <td class="time"><p>5 Ekim Cumartesi</p></td>
            <td class="hour"><p>12.00 - 15.00</p></td>
            <td class="car"><p>Buse'nin arabası</p></td>
            <td class="place"><p>Cihangir</p></td>
            <td class="right"></td>
        </tr>
        <tr class="darkRow">
            <td class="left"></td>
            <td class="time"><p>5 Ekim Cumartesi</p></td>
            <td class="hour"><p>12.00 - 18.00</p></td>
            <td class="car"><p>Didem ve Umut'un arabası</p></td>
            <td class="place"><p>Bebek</p></td>
            <td class="right"></td>
        </tr>
        <tr class="darkRow">
            <td class="left"></td>
            <td class="time"><p>5 Ekim Cumartesi</p></td>
            <td class="hour"><p>12.00 - 18.00</p></td>
            <td class="car"><p>Melis'in arabası</p></td>
            <td class="place"><p>Nişantaşı</p></td>
            <td class="right"></td>
        </tr>
        <tr class="lightRow">
            <td class="left"></td>
            <td class="time"><p>6 Ekim Pazar</p></td>
            <td class="hour"><p>12.00 - 18.00</p></td>
            <td class="car"><p>Ayşe'nin arabası</p></td>
            <td class="place"><p>Bağdat Caddesi</p></td>
            <td class="right"></td>
        </tr>
        <tr class="lightRow">
            <td class="left"></td>
            <td class="time"><p>6 Ekim Pazar</p></td>
            <td class="hour"><p>12.00 - 18.00</p></td>
            <td class="car"><p>Buse'nin arabası</p></td>
            <td class="place"><p>Bebek</p></td>
            <td class="right"></td>
        </tr>
        <tr class="lightRow">
            <td class="left"></td>
            <td class="time"><p>6 Ekim Pazar</p></td>
            <td class="hour"><p>14.00 - 18.00</p></td>
            <td class="car"><p>Didem ve Umut'un arabası</p></td>
            <td class="place"><p>Tünel - Galata</p></td>
            <td class="right"></td>
        </tr>
        <tr class="lightRow">
            <td class="left"></td>
            <td class="time"><p>6 Ekim Pazar</p></td>
            <td class="hour"><p>14.00 - 18.00</p></td>
            <td class="car"><p>Melis'in arabası</p></td>
            <td class="place"><p>Kadıköy</p></td>
            <td class="right"></td>
        </tr>
        <tr class="darkRow">
            <td class="left"></td>
            <td class="time"><p>8 Ekim Salı</p></td>
            <td class="hour"><p>12.00 - 18.00</p></td>
            <td class="car"><p>Ayşe'nin arabası</p></td>
            <td class="place"><p>İstinye Park</p></td>
            <td class="right"></td>
        </tr>
        <tr class="darkRow">
            <td class="left"></td>
            <td class="time"><p>8 Ekim Salı</p></td>
            <td class="hour"><p>12.00 - 15.00</p></td>
            <td class="car"><p>Buse'nin arabası</p></td>
            <td class="place"><p>Marmara Forum</p></td>
            <td class="right"></td>
        </tr>
        <tr class="darkRow">
            <td class="left"></td>
            <td class="time"><p>8 Ekim Salı</p></td>
            <td class="hour"><p>12.00 - 18.00</p></td>
            <td class="car"><p>Didem ve Umut'un arabası</p></td>
            <td class="place"><p>Brandium</p></td>
            <td class="right"></td>
        </tr>
        <tr class="darkRow">
            <td class="left"></td>
            <td class="time"><p>8 Ekim Salı</p></td>
            <td class="hour"><p>12.00 - 18.00</p></td>
            <td class="car"><p>Melis'in arabası</p></td>
            <td class="place"><p>İstanbul Forum</p></td>
            <td class="right"></td>
        </tr>
        <tr class="lightRow">
            <td class="left"></td>
            <td class="time"><p>9 Ekim Çarşamba</p></td>
            <td class="hour"><p>12.00 - 18.00</p></td>
            <td class="car"><p>Ayşe'nin arabası</p></td>
            <td class="place"><p>İstinye Park</p></td>
            <td class="right"></td>
        </tr>
        <tr class="lightRow">
            <td class="left"></td>
            <td class="time"><p>9 Ekim Çarşamba</p></td>
            <td class="hour"><p>12.00 - 15.00</p></td>
            <td class="car"><p>Buse'nin arabası</p></td>
            <td class="place"><p>Marmara Forum</p></td>
            <td class="right"></td>
        </tr>
        <tr class="lightRow">
            <td class="left"></td>
            <td class="time"><p>9 Ekim Çarşamba</p></td>
            <td class="hour"><p>12.00 - 18.00</p></td>
            <td class="car"><p>Didem ve Umut'un arabası</p></td>
            <td class="place"><p>Brandium</p></td>
            <td class="right"></td>
        </tr>
        <tr class="lightRow">
            <td class="left"></td>
            <td class="time"><p>9 Ekim Çarşamba</p></td>
            <td class="hour"><p>12.00 - 18.00</p></td>
            <td class="car"><p>Melis'in arabası</p></td>
            <td class="place"><p>İstanbul Forum</p></td>
            <td class="right"></td>
        </tr>
        <tr class="darkRow">
            <td class="left"></td>
            <td class="time"><p>10 Ekim Perşembe</p></td>
            <td class="hour"><p>12.00 - 18.00</p></td>
            <td class="car"><p>Ayşe'nin arabası</p></td>
            <td class="place"><p>Bağdat Caddesi</p></td>
            <td class="right"></td>
        </tr>
        <tr class="darkRow">
            <td class="left"></td>
            <td class="time"><p>10 Ekim Perşembe</p></td>
            <td class="hour"><p>12.00 - 15.00</p></td>
            <td class="car"><p>Buse'nin arabası</p></td>
            <td class="place"><p>Kadıköy</p></td>
            <td class="right"></td>
        </tr>
        <tr class="darkRow">
            <td class="left"></td>
            <td class="time"><p>10 Ekim Perşembe</p></td>
            <td class="hour"><p>12.00 - 18.00</p></td>
            <td class="car"><p>Didem ve Umut'un arabası</p></td>
            <td class="place"><p>Bebek</p></td>
            <td class="right"></td>
        </tr>
        <tr class="darkRow">
            <td class="left"></td>
            <td class="time"><p>10 Ekim Perşembe</p></td>
            <td class="hour"><p>12.00 - 18.00</p></td>
            <td class="car"><p>Melis'in arabası</p></td>
            <td class="place"><p>Nişantaşı</p></td>
            <td class="right"></td>
        </tr>
    </table>


</div>