<div style="text-align:center">
    <img src="/public/images/8.png">
    <div style="height:3px;width:250px;background-color:#49692F;margin:0 auto"></div>
    <p><span style="color:#49692F;font-family:HM Ampersand Bold">Ayşe Kucuroğlu, Buse Terim, Didem Soydan & Umut Eker ve
        <br> Melis Alphan'ın "Modayı Yaşat"</span> projesi için tasarladığı <span style="color:#49692F;font-family:HM Ampersand Bold">H&M geri dönüşüm</span> arabaları,
        <br>sizin de karşınıza çıkabilir! Rotayı takip edin, bu güzel karşılaşmayı raslantıya bırakmayın.</p>

    <p>
        Eski, giyilemeyecek tekstil ürünlerinizi geri dönüşüm arabalarımızdan birine <br>
        getirdiğinizde hediye çekinizi almayı unutmayın. Hem bir sonraki alışverişinizde indirim kazanın, <br>
        hem de geri dönüşüme yardımcı olun! Bu fırsatı ayağınıza kadar getiriyoruz.
    </p>

    <table id="rotaTablosu">
        <tr class="darkRow">
            <th class="left"></th>
            <th class="time"><p>NE ZAMAN?</p></th>
            <th class="hour"></th>
            <th class="car"><p>HANGİ ARABA?</p></th>
            <th class="place"><p>NEREDE?</p></th>
            <th class="right"></th>
        </tr>
        <tr class="darkRow">
            <td class="left"></td>
            <td class="time"><p>5 Ekim Cumartesi</p></td>
            <td class="hour"><p>14.00 - 18.00</p></td>
            <td class="car"><p>Didem ve Umut'un arabası</p></td>
            <td class="place">
            	<a class="fancybox" rel="group" href="/public/images/nisantasi.jpg">
            		<p>Nişantaşı</p>
            	</a>
            </td>
            <td class="right"></td>
        </tr>
        <tr class="darkRow">
            <td class="left"></td>
            <td class="time"><p>5 Ekim Cumartesi</p></td>
            <td class="hour"><p>14.00 - 15.00</p></td>
            <td class="car"><p>Ayşe'nin arabası</p></td>
            <td class="place">
            	<a class="fancybox" rel="group" href="/public/images/bebek.jpg">            
            		<p>Bebek</p>
            	</a>
           	</td>            		
            <td class="right"></td>
        </tr>
        <tr class="darkRow">
            <td class="left"></td>
            <td class="time"><p>5 Ekim Cumartesi</p></td>
            <td class="hour"><p>14.00 - 18.00</p></td>
            <td class="car"><p>Melis'in arabası</p></td>
            <td class="place">
                <a class="fancybox" rel="group" href="/public/images/besiktas.jpg">            
            		<p>Beşiktaş</p>
            	</a>
            </td>
            <td class="right"></td>
        </tr>
        <tr class="darkRow">
            <td class="left"></td>
            <td class="time"><p>5 Ekim Cumartesi</p></td>
            <td class="hour"><p>14.00 - 18.00</p></td>
            <td class="car"><p>Buse'nin arabası</p></td>
            <td class="place">
            	<a class="fancybox" rel="group" href="/public/images/bagdat.jpg">
            		<p>Bağdat Caddesi</p>
            	</a>
            </td>
            <td class="right"></td>
        </tr>
        <tr class="lightRow">
            <td class="left"></td>
            <td class="time"><p>6 Ekim Pazar</p></td>
            <td class="hour"><p>Tüm gün</p></td>
            <td class="car"><p>Ayşe'nin arabası</p></td>
            <td class="place"><p>İstinye Park</p></td>
            <td class="right"></td>
        </tr>
        <tr class="lightRow">
            <td class="left"></td>
            <td class="time"><p>6 Ekim Pazar</p></td>
            <td class="hour"><p>Tüm gün</p></td>
            <td class="car"><p>Buse'nin arabası</p></td>
            <td class="place"><p>Brandium</p></td>
            <td class="right"></td>
        </tr>
        <tr class="lightRow">
            <td class="left"></td>
            <td class="time"><p>6 Ekim Pazar</p></td>
            <td class="hour"><p>Tüm gün</p></td>
            <td class="car"><p>Melis'in arabası</p></td>
            <td class="place"><p>Marmara Forum</p></td>
            <td class="right"></td>
        </tr>
        <tr class="lightRow">
            <td class="left"></td>
            <td class="time"><p>6 Ekim Pazar</p></td>
            <td class="hour"><p>Tüm gün</p></td>
            <td class="car"><p>Didem ve Umut'un arabası</p></td>
            <td class="place"><p>İstanbul Forum</p></td>
            <td class="right"></td>
        </tr>               
        
        <tr class="darkRow">
            <td class="left"></td>
            <td class="time"><p>7 Ekim Pazartesi</p></td>
            <td class="hour"><p>Tüm gün</p></td>
            <td class="car"><p>Ayşe'nin arabası</p></td>
            <td class="place"><p>İstinye Park</p></td>
            <td class="right"></td>
        </tr>
        <tr class="darkRow">
            <td class="left"></td>
            <td class="time"><p>7 Ekim Pazartesi</p></td>
            <td class="hour"><p>Tüm gün</p></td>
            <td class="car"><p>Buse'nin arabası</p></td>
            <td class="place"><p>Brandium</p></td>
            <td class="right"></td>
        </tr>
        <tr class="darkRow">
            <td class="left"></td>
            <td class="time"><p>7 Ekim Pazartesi</p></td>
            <td class="hour"><p>Tüm gün</p></td>
            <td class="car"><p>Melis'in arabası</p></td>
            <td class="place"><p>Marmara Forum</p></td>
            <td class="right"></td>
        </tr>
        <tr class="darkRow">
            <td class="left"></td>
            <td class="time"><p>7 Ekim Pazartesi</p></td>
            <td class="hour"><p>Tüm gün</p></td>
            <td class="car"><p>Didem ve Umut'un arabası</p></td>
            <td class="place"><p>İstanbul Forum</p></td>
            <td class="right"></td>
        </tr>
               
               
        <tr class="lightRow">
            <td class="left"></td>
            <td class="time"><p>8 Ekim Salı</p></td>
            <td class="hour"><p>Tüm gün</p></td>
            <td class="car"><p>Didem ve Umut'un arabası</p></td>
            <td class="place"><p>İstinye Park</p></td>
            <td class="right"></td>
        </tr>
        <tr class="lightRow">
            <td class="left"></td>
            <td class="time"><p>8 Ekim Salı</p></td>
            <td class="hour"><p>Tüm gün</p></td>
            <td class="car"><p>Ayşe'nin arabası</p></td>
            <td class="place"><p>Brandium</p></td>
            <td class="right"></td>
        </tr>
        <tr class="lightRow">
            <td class="left"></td>
            <td class="time"><p>8 Ekim Salı</p></td>
            <td class="hour"><p>Tüm gün</p></td>
            <td class="car"><p>Buse'nin arabası</p></td>
            <td class="place"><p>Marmara Forum</p></td>
            <td class="right"></td>
        </tr>
        <tr class="lightRow">
            <td class="left"></td>
            <td class="time"><p>8 Ekim Salı</p></td>
            <td class="hour"><p>Tüm gün</p></td>
            <td class="car"><p>Melis'in arabası</p></td>
            <td class="place"><p>İstanbul Forum</p></td>
            <td class="right"></td>
        </tr>
        
        
        <tr class="darkRow">
            <td class="left"></td>
            <td class="time"><p>9 Ekim Çarşamba</p></td>
            <td class="hour"><p>Tüm gün</p></td>
            <td class="car"><p>Didem ve Umut'un arabası</p></td>
            <td class="place"><p>İstinye Park</p></td>
            <td class="right"></td>
        </tr>
        <tr class="darkRow">
            <td class="left"></td>
            <td class="time"><p>9 Ekim Çarşamba</p></td>
            <td class="hour"><p>Tüm gün</p></td>
            <td class="car"><p>Ayşe'nin arabası</p></td>
            <td class="place"><p>Brandium</p></td>
            <td class="right"></td>
        </tr>
        <tr class="darkRow">
            <td class="left"></td>
            <td class="time"><p>9 Ekim Çarşamba</p></td>
            <td class="hour"><p>Tüm gün</p></td>
            <td class="car"><p>Buse'nin arabası</p></td>
            <td class="place"><p>Marmara Forum</p></td>
            <td class="right"></td>
        </tr>
        <tr class="darkRow">
            <td class="left"></td>
            <td class="time"><p>9 Ekim Çarşamba</p></td>
            <td class="hour"><p>Tüm gün</p></td>
            <td class="car"><p>Melis'in arabası</p></td>
            <td class="place"><p>İstanbul Forum</p></td>
            <td class="right"></td>
        </tr>
        
        
        <tr class="lightRow">
            <td class="left"></td>
            <td class="time"><p>10 Ekim Perşembe</p></td>
            <td class="hour"><p>12.00 - 18.00</p></td>
            <td class="car"><p>Melis'in arabası</p></td>
            <td class="place">
            	<a class="fancybox" rel="group" href="/public/images/nisantasi.jpg">
            		<p>Nişantaşı</p>
            	</a>
            </td>
            <td class="right"></td>
        </tr>
        <tr class="lightRow">
            <td class="left"></td>
            <td class="time"><p>10 Ekim Perşembe</p></td>
            <td class="hour"><p>12.00 - 15.00</p></td>
            <td class="car"><p>Buse'nin arabası</p></td>
            <td class="place">
            	<a class="fancybox" rel="group" href="/public/images/besiktas.jpg">
            		<p>Beşiktaş</p>
            	</a>
            </td>
            <td class="right"></td>
        </tr>
        <tr class="lightRow">
            <td class="left"></td>
            <td class="time"><p>10 Ekim Perşembe</p></td>
            <td class="hour"><p>12.00 - 18.00</p></td>
            <td class="car"><p>Ayşe'nin arabası</p></td>
            <td class="place">
            	<a class="fancybox" rel="group" href="/public/images/bagdat.jpg">
            		<p>Bağdat Caddesi</p>
            	</a>
            </td>
            <td class="right"></td>
        </tr>
        <tr class="lightRow">
            <td class="left"></td>
            <td class="time"><p>10 Ekim Perşembe</p></td>
            <td class="hour"><p>12.00 - 18.00</p></td>
            <td class="car"><p>Didem ve Umut'un arabası</p></td>
            <td class="place">
            	<a class="fancybox" rel="group" href="/public/images/bagdat.jpg">
            		<p>Bağdat Caddesi</p>
            	</a>
            </td>
            <td class="right"></td>
        </tr>
        
        
        
        <tr class="darkRow">
            <td class="left"></td>
            <td class="time"><p>11 Ekim Cuma</p></td>
            <td class="hour"><p>12.00 - 18.00</p></td>
            <td class="car"><p>Buse'nin arabası</p></td>
            <td class="place">
            	<a class="fancybox" rel="group" href="/public/images/nisantasi.jpg">
            		<p>Nişantaşı</p>
            	</a>
            </td>
            <td class="right"></td>
        </tr>
        <tr class="darkRow">
            <td class="left"></td>
            <td class="time"><p>11 Ekim Cuma</p></td>
            <td class="hour"><p>12.00 - 18.00</p></td>
            <td class="car"><p>Didem ve Umut'un arabası</p></td>
            <td class="place">
            	<a class="fancybox" rel="group" href="/public/images/besiktas.jpg">
            		<p>Beşiktaş</p>
            	</a>
            </td>
            <td class="right"></td>
        </tr>
        <tr class="darkRow">
            <td class="left"></td>
            <td class="time"><p>11 Ekim Cuma</p></td>
            <td class="hour"><p>12.00 - 18.00</p></td>
            <td class="car"><p>Melis'in arabası</p></td>
            <td class="place">
            	<a class="fancybox" rel="group" href="/public/images/bagdat.jpg">
            		<p>Bağdat Caddesi</p>
            	</a>
            </td>
            <td class="right"></td>
        </tr>
        <tr class="darkRow">
            <td class="left"></td>
            <td class="time"><p>11 Ekim Cuma</p></td>
            <td class="hour"><p>12.00 - 18.00</p></td>
            <td class="car"><p>Ayşe'nin arabası</p></td>
            <td class="place">
            	<a class="fancybox" rel="group" href="/public/images/bagdat.jpg">
            		<p>Bağdat Caddesi</p>
            	</a>
            </td>
            <td class="right"></td>
        </tr>
        
        
        <tr class="lightRow">
            <td class="left"></td>
            <td class="time"><p>12 Ekim Cumartesi</p></td>
            <td class="hour"><p>12.00 - 18.00</p></td>
            <td class="car"><p>Ayşe'nin arabası</p></td>
            <td class="place">
            	<a class="fancybox" rel="group" href="/public/images/nisantasi.jpg">
            		<p>Nişantaşı</p>
            	</a>
            </td>
            <td class="right"></td>
        </tr>
        <tr class="lightRow">
            <td class="left"></td>
            <td class="time"><p>12 Ekim Cumartesi</p></td>
            <td class="hour"><p>12.00 - 18.00</p></td>
            <td class="car"><p>Buse'nin arabası</p></td>
            <td class="place">
            	<a class="fancybox" rel="group" href="/public/images/bebek.jpg">
            		<p>Bebek</p>
            	</a>
            </td>
            <td class="right"></td>
        </tr>
        <tr class="lightRow">
            <td class="left"></td>
            <td class="time"><p>12 Ekim Cumartesi</p></td>
            <td class="hour"><p>12.00 - 18.00</p></td>
            <td class="car"><p>Didem ve Umut'un arabası</p></td>
            <td class="place">
            	<a class="fancybox" rel="group" href="/public/images/bagdat.jpg">
            		<p>Bağdat Caddesi</p>
            	</a>
            </td>
            <td class="right"></td>
        </tr>
        <tr class="lightRow">
            <td class="left"></td>
            <td class="time"><p>12 Ekim Cumartesi</p></td>
            <td class="hour"><p>12.00 - 18.00</p></td>
            <td class="car"><p>Melis'in arabası</p></td>
            <td class="place">
            	<a class="fancybox" rel="group" href="/public/images/bagdat.jpg">
            		<p>Bağdat Caddesi</p>
            	</a>
            </td>
            <td class="right"></td>
        </tr>
        
        
        <tr class="darkRow">
            <td class="left"></td>
            <td class="time"><p>13 Ekim Pazar</p></td>
            <td class="hour"><p>12.00 - 18.00</p></td>
            <td class="car"><p>Melis'in arabası</p></td>
            <td class="place">
            	<a class="fancybox" rel="group" href="/public/images/bebek.jpg">
            		<p>Bebek</p>
            	</a>
            </td>
            <td class="right"></td>
        </tr>
        <tr class="darkRow">
            <td class="left"></td>
            <td class="time"><p>13 Ekim Pazar</p></td>
            <td class="hour"><p>12.00 - 18.00</p></td>
            <td class="car"><p>Ayşe'nin arabası</p></td>
            <td class="place">
            	<a class="fancybox" rel="group" href="/public/images/besiktas.jpg">
            		<p>Beşiktaş</p>
            	</a>
            </td>
            <td class="right"></td>
        </tr>
        <tr class="darkRow">
            <td class="left"></td>
            <td class="time"><p>13 Ekim Pazar</p></td>
            <td class="hour"><p>12.00 - 18.00</p></td>
            <td class="car"><p>Buse'nin arabası</p></td>
            <td class="place">
            	<a class="fancybox" rel="group" href="/public/images/bagdat.jpg">
            		<p>Bağdat Caddesi</p>
            	</a>
            </td>
            <td class="right"></td>
        </tr>
        <tr class="darkRow">
            <td class="left"></td>
            <td class="time"><p>13 Ekim Pazar</p></td>
            <td class="hour"><p>12.00 - 18.00</p></td>
            <td class="car"><p>Didem ve Umut'un arabası</p></td>
            <td class="place">
            	<a class="fancybox" rel="group" href="/public/images/bagdat.jpg">
            		<p>Bağdat Caddesi</p>
            	</a>		
            </td>
            <td class="right"></td>
        </tr>
        
        
        <tr class="lightRow">
            <td class="left"></td>
            <td class="time"><p>14 Ekim Pazartesi</p></td>
            <td class="hour"><p>Tüm gün</p></td>
            <td class="car"><p>Tüm arabalar</p></td>
            <td class="place"><p>İstinye Park</p></td>
            <td class="right"></td>
        </tr>
        
    </table>

	<div><p style="font-size:12px">Hava koşulları nedeniyle programda değişiklik olabilir.</p></div>
</div>