<div style="text-align:center;position:relative">
	<div style="background:#2698d9;width:895px;position:fixed;top:25px;height:50px;z-index:12">
		<div style="width: 600px;margin: 0 auto;padding-top: 18px;color: #FFF;">
			<img src="http://grfx.cstv.com/graphics/twitter-bird-dark-bgs.png" style="width:40px;float:left;margin-top:-11px">
			<span style="float:left">Tweets</span>
			<span style="float:right">#modayiyasat</span>
		</div>
	</div>
	<div style="margin-top:27px">					 						 
		<a data-chrome="noheader" class="twitter-timeline" href="https://twitter.com/search?q=%40hmturkiye+%23modayiyasat+OR+%23moday%C4%B1yasat" data-widget-id="385730818015887360">"@hmturkiye #modayiyasat OR #modayıyasat" hakkında Tweetler</a>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>							
	</div>
	<div style="background:url('/public/images/9_edited.png') no-repeat center;bottom:82px;position:fixed;width:895px;height:100px;z-index:10"></div>
</div>

