<!DOCTYPE html>

<html lang="tr" style="height:100%">
<head>
    <title>H&M</title>
    <meta charset="${_response_encoding}">
    <meta name="keywords" content="h&m,h&mturkiye,modayiyasat,icollect">
    <meta name="description" content="h&m turkiye modayiyasat">
    <meta name="viewport" content="width=device-width, user-scalable=false;">
    <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/mobile.css'}">

    #{get 'moreStyles' /}
    <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    #{get 'moreScripts' /}
    <!--[if lte IE 8]>
    <style>
        /* Rotation of the arrow element for IE < 9 */
        .next-icon { /* IE Matrix Calculator - http: //www.boogdesign.com/examples/transforms/matrix-calculator.html */;
        -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.70710678, M12=-0.70710678, M21=0.70710678, M22=0.70710678,sizingMethod='auto expand')";
        filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.70710678, M12=-0.70710678, M21=0.70710678, M22=0.70710678,sizingMethod='auto expand');
        }
    </style>
    <![endif]-->
</head>
<body>

    #{if flash?.success}
        <div class="alert-success">
            ${flash.success}
        </div>
    #{/if}
    <div id = "header">
        <img style="margin-top:20px;width:90%;margin-bottom:20px;" src="/public/images/ikon.jpg" />
    </div>
    <div class="content">
        <div class = "contentHeader">NEDİR?</div>
        <img src="/public/images/4.png">
        <p>Her yıl tonlarca tekstil ürünü geri dönüşüme uğramadan atılıyor. Oysa bu eski kıyafet ve kumaşların neredeyse %95'i yeniden kullanılabilir.</p>
        <img src="/public/images/5.png">
        <p>H&M'de sürdürülebilir moda felsefemizi yeni bir projeyle destekliyoruz. Eskimiş, yıpranmış veya giyilemeyecek durumda olan giysilerinizi topluyor ve geri dönüşüme kazandırıyoruz!</p>
        <img src="/public/images/6.png">
        <p>Günün birinde çöpe atmak için gardırobunuzun bir köşesinde biriktirdiğiniz bu giysilerinizi,
            projeye katılan H&M mağazalarına getirin. Hem modayı yaşatın hem de
            teslim ettiğiniz her giysi torbası için bir sonraki alışverişinizde kullanılmak üzere 5 TL
            değerinde bir alışveriş çeki kazanın! Her gün 2 poşet bırakabilirsiniz. </p>


    </div>
    <div class="content">
        <div class = "contentHeader">PROJE</div>
        <p>
        H&M'in sürdürülebilirlik adına uzun yıllardır yürüttüğü H&M Conscious çalışmalarına
        bir yenisini ekleyerek "Modayı Yaşat" projesini hayata geçirdik.
        </p>
        <p>
        Projede, dört ünlü modaseverin tasarlayarak kişiselleştirdiği H&M geri dönüşüm arabaları
        sahnede olacak. Arabalar, İstanbul'un farklı yerlerine dağılacak ve
        geri dönüşüme gönderilmek üzere sizlerden tekstil ürünleri toplayacak.
        </p>
        <p>
        Modayı Yaşat projemize destek olan
        Ayşe Kucuroğlu, Buse Terim, Didem Soydan & Umut Eker ve Melis Alphan'ın sadece
        çevre dostu malzemelerle tasarladığı H&M geri dönüşüm arabalarının hikayesini bu sayfalardan izleyebilirsiniz.
        </p>
        <a href="/application/twitter"><img style="margin-top:5px;width:70%;margin-bottom:5px;" src="/public/images/twitter_icon.jpg" /></a>
        <div class="line"></div>
        <img src="/public/images/celeb01.png" />
        <p class="celebname">Ayşe Kucuroğlu</p>
        <p>
            Yine harika bir iş birliği! Hayat adına,
            paylaşmak adına, daha uzun yaşamak adına!
            Modayı sürdürebilmek adına, hepimiz koyulduk çalışmaya.<br>
            <br>
            Benim el arabam bol kumaşlı olsun istedim.
            Sık giydiği bir elbise gibi, rengârenk olsun dedim.
            Konumuz zaten modayı geri dönüştürmek değil mi?
            Kim bilir, belki tam da bu tonlarda giymeyi unuttuğunuz
            eski elbiseniz gelir aklınıza da, atarsınız arabama!
            <br>
        </p>
        <img src="/public/images/mobile_a1.jpg" /><br>
        <img src="/public/images/mobile_a2.jpg" /><br>
        <img src="/public/images/mobile_a3.jpg" /><br>
        <div class="line"></div>
        <img src="/public/images/celeb04.png" />

        <p class="celebname">Buse Terim</p>
        <p>
            Tüketim çağının baş döndürücü hızı içinde, kimi zaman
            kendimizi kaybediyoruz. Hele ki modayı yakından takip eden,
            gelecek sezonun tüm trendlerini şimdiden özümseyen bizler için
            alışverişin cazibesine kapılmak, hep daha fazlasını istemek kaçınılmaz. Oysa büyük resme baktığımızda görüyoruz ki dünyamızda
            doğal kaynaklar hızla tükeniyor, endüstriyel ve evsel kaynaklı atıkların bilinçsiz şekilde doğaya atılması çevre kirliliğine sebep oluyor.
            <br><br>
            Geleceğe yaşanabilir bir dünya bırakmak hepimizin sorumluluğu ve
            bunun için bireysel ölçekte de yapabileceklerimiz var. H&M’in
            ürün toplama girişimi, ilk günden itibaren takdir ettiğim ve can-ı gönülden desteklediğim bir proje. Uluslararası alanda gücü tartışılmaz bir
            moda markasının bu tarz bir projeye hayat vermesi, toplumsal duyarlılığın artırılması adına oldukça önemli ve bu projenin bir parçası olarak
            Türkiye’deki bilinirliğine katkıda bulunma şansına sahip olduğum için çok mutluyum.
            <br><br>
            Projemi “kendinle yüzleşme” teması üzerine kurguladım.
            Çıkış noktam, aynaya her baktığımızda geleceğimiz için, dünyamız için elimizi taşın altına koyma cesaretini gösterdiğimiz için kendimizle
            gurur duyabilmemizdi. Aynadan bize yansıyan görüntü, kendimiz değil dünyanın başka bir köşesinde açlığın, yoksulluğun pençesinde
            var olma mücadelesi veren bir çocuk da olabilirdi. Nerede, hangi koşullarda doğduğumuzu biz seçemiyoruz ancak başkalarını da düşünmek, daha iyi bir
            dünyanın hayalini kurmak ve bu hayale bir adım olsun yaklaşabilmek için eyleme geçmek bizim elimizde.
            <br><br>
            Benim arabam, herkesi kendiyle yüzleşmeye ve aynadaki aksine
            içten bir biçimde gülümsemeye davet ediyor. Dünya değişebilir ve
            bu değişim tek bir eski kıyafetin geri dönüştürülmesiyle bile sağlanabilir. Yeter ki küçük adımların bir araya geldiğinde ne kadar büyük bir etki yaratabileceğine inanalım!
            <br>
        </p>
        <img src="/public/images/mobile_b1.jpg" /><br>
        <img src="/public/images/mobile_b2.jpg" /><br>
        <img src="/public/images/mobile_b3.jpg" />
        <div class="line"></div>
        <img src="/public/images/celeb03.png" />
        <p class="celebname">Didem Soydan & Umut Eker</p>
        <img src="/public/images/mobile_d1.jpg" /><br>
        <img src="/public/images/mobile_d2.jpg" /><br>
        <img src="/public/images/mobile_d3.jpg" />
        <div class="line"></div>
        <img src="/public/images/celeb02.png" />
        <p class="celebname">Melis Alphan</p>
        <p>
            Çevre hakkı ve insan hakkı birbirinden çok farklı değil aslında.<br>
            İkisi de yaşam hakkı.<br>
            Bu proje çevreye hakkını teslim etmek üzere geri dönüştürme eyleminden yola çıksa da...<br>
            Aslında yaşama hakkını savunuyor.<br>
            Yaşam hakkı dediğimiz de de din, dil, ırk, renk ve cinsel kimlik gözetmeden insanın,<br>
            hayvanların ve çevrenin hakkını savunmak hepimizin boynunun borcu.<br>
            <br>
        </p>
        <img src="/public/images/mobile_m1.jpg" /><br>
        <img src="/public/images/mobile_m2.jpg" />
    </div>
    <div class="content">
        <div class = "contentHeader">ROTA</div>
        <p>Ayşe Kucuroğlu, Buse Terim, Didem Soydan & Umut Eker ve Melis Alphan'ın <span style="color:#49692F">"Modayı Yaşat"</span> projesi için tasarladığı H&M <span style="color:#49692F">geri dönüşüm</span> arabaları,
            <br>sizin de karşınıza çıkabilir! Rotayı takip edin, bu güzel karşılaşmayı raslantıya bırakmayın.</p>

        <p>
            Eski, giyilemeyecek tekstil ürünlerinizi geri dönüşüm arabalarımızdan birine
            getirdiğinizde hediye çekinizi almayı unutmayın. Hem bir sonraki alışverişinizde indirim kazanın,
            hem de geri dönüşüme yardımcı olun! Bu fırsatı ayağınıza kadar getiriyoruz.
        </p>

        <table id="rotaTablosu">
        <tr class="darkRow">
            <th class="left"></th>
            <th class="time">NE ZAMAN?</th>
            <th class="hour"></th>
            <th class="car">HANGİ ARABA?</th>
            <th class="place">NEREDE?</th>
            <th class="right"></th>
        </tr>
        <tr class="darkRow">
            <td class="left"></td>
            <td class="time"> 5 Ekim Cumartesi </td>
            <td class="hour"> 14.00 - 18.00 </td>
            <td class="car"> Didem ve Umut'un arabası </td>
            <td class="place"> Nişantaşı </td>
            <td class="right"></td>
        </tr>
        <tr class="darkRow">
            <td class="left"></td>
            <td class="time"> 5 Ekim Cumartesi </td>
            <td class="hour"> 14.00 - 15.00 </td>
            <td class="car"> Ayşe'nin arabası </td>
            <td class="place"> Bebek </td>
            <td class="right"></td>
        </tr>
        <tr class="darkRow">
            <td class="left"></td>
            <td class="time"> 5 Ekim Cumartesi </td>
            <td class="hour"> 14.00 - 18.00 </td>
            <td class="car"> Melis'in arabası </td>
            <td class="place"> Beşiktaş </td>
            <td class="right"></td>
        </tr>
        <tr class="darkRow">
            <td class="left"></td>
            <td class="time"> 5 Ekim Cumartesi </td>
            <td class="hour"> 14.00 - 18.00 </td>
            <td class="car"> Buse'nin arabası </td>
            <td class="place"> Bağdat Caddesi </td>
            <td class="right"></td>
        </tr>
        <tr class="lightRow">
            <td class="left"></td>
            <td class="time"> 6 Ekim Pazar </td>
            <td class="hour"> Tüm gün </td>
            <td class="car"> Ayşe'nin arabası </td>
            <td class="place"> İstinye Park </td>
            <td class="right"></td>
        </tr>
        <tr class="lightRow">
            <td class="left"></td>
            <td class="time"> 6 Ekim Pazar </td>
            <td class="hour"> Tüm gün </td>
            <td class="car"> Buse'nin arabası </td>
            <td class="place"> Brandium </td>
            <td class="right"></td>
        </tr>
        <tr class="lightRow">
            <td class="left"></td>
            <td class="time"> 6 Ekim Pazar </td>
            <td class="hour"> Tüm gün </td>
            <td class="car"> Melis'in arabası </td>
            <td class="place"> Marmara Forum </td>
            <td class="right"></td>
        </tr>
        <tr class="lightRow">
            <td class="left"></td>
            <td class="time"> 6 Ekim Pazar </td>
            <td class="hour"> Tüm gün </td>
            <td class="car"> Didem ve Umut'un arabası </td>
            <td class="place"> İstanbul Forum </td>
            <td class="right"></td>
        </tr>

        <tr class="darkRow">
            <td class="left"></td>
            <td class="time"> 7 Ekim Pazartesi </td>
            <td class="hour"> Tüm gün </td>
            <td class="car"> Ayşe'nin arabası </td>
            <td class="place"> İstinye Park </td>
            <td class="right"></td>
        </tr>
        <tr class="darkRow">
            <td class="left"></td>
            <td class="time"> 7 Ekim Pazartesi </td>
            <td class="hour"> Tüm gün </td>
            <td class="car"> Buse'nin arabası </td>
            <td class="place"> Brandium </td>
            <td class="right"></td>
        </tr>
        <tr class="darkRow">
            <td class="left"></td>
            <td class="time"> 7 Ekim Pazartesi </td>
            <td class="hour"> Tüm gün </td>
            <td class="car"> Melis'in arabası </td>
            <td class="place"> Marmara Forum </td>
            <td class="right"></td>
        </tr>
        <tr class="darkRow">
            <td class="left"></td>
            <td class="time"> 7 Ekim Pazartesi </td>
            <td class="hour"> Tüm gün </td>
            <td class="car"> Didem ve Umut'un arabası </td>
            <td class="place"> İstanbul Forum </td>
            <td class="right"></td>
        </tr>


        <tr class="lightRow">
            <td class="left"></td>
            <td class="time"> 8 Ekim Salı </td>
            <td class="hour"> Tüm gün </td>
            <td class="car"> Didem ve Umut'un arabası </td>
            <td class="place"> İstinye Park </td>
            <td class="right"></td>
        </tr>
        <tr class="lightRow">
            <td class="left"></td>
            <td class="time"> 8 Ekim Salı </td>
            <td class="hour"> Tüm gün </td>
            <td class="car"> Ayşe'nin arabası </td>
            <td class="place"> Brandium </td>
            <td class="right"></td>
        </tr>
        <tr class="lightRow">
            <td class="left"></td>
            <td class="time"> 8 Ekim Salı </td>
            <td class="hour"> Tüm gün </td>
            <td class="car"> Buse'nin arabası </td>
            <td class="place"> Marmara Forum </td>
            <td class="right"></td>
        </tr>
        <tr class="lightRow">
            <td class="left"></td>
            <td class="time"> 8 Ekim Salı </td>
            <td class="hour"> Tüm gün </td>
            <td class="car"> Melis'in arabası </td>
            <td class="place"> İstanbul Forum </td>
            <td class="right"></td>
        </tr>


        <tr class="darkRow">
            <td class="left"></td>
            <td class="time"> 9 Ekim Çarşamba </td>
            <td class="hour"> Tüm gün </td>
            <td class="car"> Didem ve Umut'un arabası </td>
            <td class="place"> İstinye Park </td>
            <td class="right"></td>
        </tr>
        <tr class="darkRow">
            <td class="left"></td>
            <td class="time"> 9 Ekim Çarşamba </td>
            <td class="hour"> Tüm gün </td>
            <td class="car"> Ayşe'nin arabası </td>
            <td class="place"> Brandium </td>
            <td class="right"></td>
        </tr>
        <tr class="darkRow">
            <td class="left"></td>
            <td class="time"> 9 Ekim Çarşamba </td>
            <td class="hour"> Tüm gün </td>
            <td class="car"> Buse'nin arabası </td>
            <td class="place"> Marmara Forum </td>
            <td class="right"></td>
        </tr>
        <tr class="darkRow">
            <td class="left"></td>
            <td class="time"> 9 Ekim Çarşamba </td>
            <td class="hour"> Tüm gün </td>
            <td class="car"> Melis'in arabası </td>
            <td class="place"> İstanbul Forum </td>
            <td class="right"></td>
        </tr>


        <tr class="lightRow">
            <td class="left"></td>
            <td class="time"> 10 Ekim Perşembe </td>
            <td class="hour"> 12.00 - 18.00 </td>
            <td class="car"> Melis'in arabası </td>
            <td class="place"> Nişantaşı </td>
            <td class="right"></td>
        </tr>
        <tr class="lightRow">
            <td class="left"></td>
            <td class="time"> 10 Ekim Perşembe </td>
            <td class="hour"> 12.00 - 15.00 </td>
            <td class="car"> Buse'nin arabası </td>
            <td class="place"> Beşiktaş </td>
            <td class="right"></td>
        </tr>
        <tr class="lightRow">
            <td class="left"></td>
            <td class="time"> 10 Ekim Perşembe </td>
            <td class="hour"> 12.00 - 18.00 </td>
            <td class="car"> Ayşe'nin arabası </td>
            <td class="place"> Bağdat Caddesi </td>
            <td class="right"></td>
        </tr>
        <tr class="lightRow">
            <td class="left"></td>
            <td class="time"> 10 Ekim Perşembe </td>
            <td class="hour"> 12.00 - 18.00 </td>
            <td class="car"> Didem ve Umut'un arabası </td>
            <td class="place"> Kadıköy </td>
            <td class="right"></td>
        </tr>



        <tr class="darkRow">
            <td class="left"></td>
            <td class="time"> 11 Ekim Cuma </td>
            <td class="hour"> 12.00 - 18.00 </td>
            <td class="car"> Buse'nin arabası </td>
            <td class="place"> Nişantaşı </td>
            <td class="right"></td>
        </tr>
        <tr class="darkRow">
            <td class="left"></td>
            <td class="time"> 11 Ekim Cuma </td>
            <td class="hour"> 12.00 - 18.00 </td>
            <td class="car"> Didem ve Umut'un arabası </td>
            <td class="place"> Beşiktaş </td>
            <td class="right"></td>
        </tr>
        <tr class="darkRow">
            <td class="left"></td>
            <td class="time"> 11 Ekim Cuma </td>
            <td class="hour"> 12.00 - 18.00 </td>
            <td class="car"> Melis'in arabası </td>
            <td class="place"> Bağdat Caddesi </td>
            <td class="right"></td>
        </tr>
        <tr class="darkRow">
            <td class="left"></td>
            <td class="time"> 11 Ekim Cuma </td>
            <td class="hour"> 12.00 - 18.00 </td>
            <td class="car"> Ayşe'nin arabası </td>
            <td class="place"> Kadıköy </td>
            <td class="right"></td>
        </tr>


        <tr class="lightRow">
            <td class="left"></td>
            <td class="time"> 12 Ekim Cumartesi </td>
            <td class="hour"> 12.00 - 18.00 </td>
            <td class="car"> Didem ve Umut'un arabası </td>
            <td class="place"> Nişantaşı </td>
            <td class="right"></td>
        </tr>
        <tr class="lightRow">
            <td class="left"></td>
            <td class="time"> 12 Ekim Cumartesi </td>
            <td class="hour"> 12.00 - 18.00 </td>
            <td class="car"> Buse'nin arabası </td>
            <td class="place"> Bebek </td>
            <td class="right"></td>
        </tr>
        <tr class="lightRow">
            <td class="left"></td>
            <td class="time"> 12 Ekim Cumartesi </td>
            <td class="hour"> 12.00 - 18.00 </td>
            <td class="car"> Ayşe'nin arabası </td>
            <td class="place"> Bağdat Caddesi </td>
            <td class="right"></td>
        </tr>
        <tr class="lightRow">
            <td class="left"></td>
            <td class="time"> 12 Ekim Cumartesi </td>
            <td class="hour"> 12.00 - 18.00 </td>
            <td class="car"> Melis'in arabası </td>
            <td class="place"> Kadıköy </td>
            <td class="right"></td>
        </tr>


        <tr class="darkRow">
            <td class="left"></td>
            <td class="time"> 13 Ekim Pazar </td>
            <td class="hour"> 12.00 - 18.00 </td>
            <td class="car"> Melis'in arabası </td>
            <td class="place"> Beşiktaş </td>
            <td class="right"></td>
        </tr>
        <tr class="darkRow">
            <td class="left"></td>
            <td class="time"> 13 Ekim Pazar </td>
            <td class="hour"> 12.00 - 18.00 </td>
            <td class="car"> Ayşe'nin arabası </td>
            <td class="place"> Kadıköy </td>
            <td class="right"></td>
        </tr>
        <tr class="darkRow">
            <td class="left"></td>
            <td class="time"> 13 Ekim Pazar </td>
            <td class="hour"> 12.00 - 18.00 </td>
            <td class="car"> Buse'nin arabası </td>
            <td class="place"> Bağdat Caddesi </td>
            <td class="right"></td>
        </tr>
        <tr class="darkRow">
            <td class="left"></td>
            <td class="time"> 13 Ekim Pazar </td>
            <td class="hour"> 12.00 - 18.00 </td>
            <td class="car"> Didem ve Umut'un arabası </td>
            <td class="place"> Bebek </td>
            <td class="right"></td>
        </tr>


        <tr class="lightRow">
            <td class="left"></td>
            <td class="time"> 14 Ekim Pazartesi </td>
            <td class="hour"> Tüm gün </td>
            <td class="car"> Tüm arabalar </td>
            <td class="place"> İstinye Park </td>
            <td class="right"></td>
        </tr>

        </table>

        <div><p style="font-size:12px">Hava koşulları nedeniyle programda değişiklik olabilir.</p></div>
    </div>
    <div class="content">
        <div class = "contentHeader">İLETİŞİM</div>
        <img src="/public/images/10.png" />
        <div id="iletisimForm">
            <form action="@{Application.sendMessage}" id="sendMessageForm"  method="post">
                <div class="formBox">
                    <span>Adınız:</span>
                    <input type="text" name="firstname" />
                    <div style="clear:both"></div>
                </div>
                <div class="formBox">
                    <span>Soyadınız:</span>
                    <input type="text" name="lastname"/>
                    <div style="clear:both"></div>
                </div>
                <div class="formBox">
                    <span>E-posta adresiniz:</span>
                    <input type="text" name="email"/>
                    <div style="clear:both"></div>
                </div>
                <div class="formBox">
                    <span>Telefon numaranız:</span>
                    <input type="text" name="phone"/>
                    <div style="clear:both"></div>
                </div>
                <div id="formBoxTextAreaContainer">
                    <span>Mesajınız</span><br>
                    <textarea id="formBoxTextArea" name="message"></textarea>
                    <div style="clear:both"></div>
                </div>
                <input id="sendMessage" type="submit" value="Gönder" />
            </form>
        </div>
    </div>

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-37451694-3', 'modayiyasat.com');
        ga('send', 'pageview');

    </script>
</body>

</html>


