<!DOCTYPE html>

<html style="height:100%">
    <head>
        <title>H&M</title>
        <meta charset="${_response_encoding}">
        <meta name="keywords" content="h&m,h&mturkiye,modayiyasat,icollect">
		<meta name="description" content="h&m turkiye modayiyasat">
		<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
    	<script src="//code.jquery.com/jquery.js"></script>
		<script src="http://www.aaronvanderzwan.com/maximage/lib/js/jquery.maximage.js"></script>  
    	<script src="/public/javascripts/main.js"></script>
        #{get 'moreScripts' /}
    </head>
    <body style="height: 100%;">   
        #{doLayout /}
    </body>
</html>
