<!DOCTYPE html>

<html lang="tr" style="height:100%">
    <head>
        <title>H&M</title>
        <meta charset="${_response_encoding}">
        <meta name="keywords" content="h&m,h&mturkiye,modayiyasat,icollect">
		<meta name="description" content="h&m turkiye modayiyasat">		
		<link rel="image_src" href="http://www.modayiyasat.com/public/images/1.png" />
                       
		<meta property="og:site_name" content="h&m #modayiyasat" />
		<meta property="og:url" content="http://www.modayiyasat.com" />
		<meta property="og:title" content="#modayiyasat" />
		<meta property="og:description" content="H&M'de sürdürülebilir moda felsefemizi yeni bir projeyle destekliyoruz. Eskimiş, yıpranmış veya giyilemeyecek durumda olan giysilerinizi topluyor ve geri dönüşüme kazandırıyoruz!" />
		<meta property="og:image" content="http://www.modayiyasat.com/public/images/1.png">				
		
		<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
		<link rel="stylesheet" href="/public/stylesheets/bigvideo.css">
        <link rel="stylesheet" href="/public/stylesheets/jquery.fancybox.css">
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
<!--         <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>   -->
         <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>      
         <script>window.jQuery || document.write('<script src="js/jquery-1.8.1.min.js"><\/script>')</script>
    	<script src="/public/javascripts/main.js"></script>
    	<script src="/public/javascripts/modernizr-2.5.3.min.js"></script>
        <script src="/public/javascripts/jquery.fancybox.js"></script>
        #{get 'moreScripts' /}
        <!--[if lte IE 8]>
    	<style>
        /* Rotation of the arrow element for IE < 9 */
        .next-icon { /* IE Matrix Calculator - http: //www.boogdesign.com/examples/transforms/matrix-calculator.html */;
            -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.70710678, M12=-0.70710678, M21=0.70710678, M22=0.70710678,sizingMethod='auto expand')";
            filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.70710678, M12=-0.70710678, M21=0.70710678, M22=0.70710678,sizingMethod='auto expand');
        }
    	</style>
    	<![endif]-->
    </head>
    <body style="height: 100%;">

    	#{if flash?.success}
    		<div class="alert-success">
            	${flash.success}
        	</div>
    	#{/if}
    	    	
    	#{doLayout /}       
    </body>
</html>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-37451694-3', 'modayiyasat.com');
  ga('send', 'pageview');

</script>